<div class="d-flex flex-column justify-content-center align-items-center vh-100 text-center bg-primary bg-gradient">
    <div class="container card px-5 py-3" style="max-width: 640px;">
    <h1>Sign up</h1>

    <%= form_with model: @user, url: "register" do |form|%>
        <% if @user.errors.any? %>
            <div class="alert alert-danger">
                <% @user.errors.full_messages.each do |message| %>
                    <div><%= message %></div>
                <% end %>
            </div>
        <% end %>

    <div class="mb-3 text-start">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control", placeholder: "Enter your username" %>
    </div>

    <div class="mb-3 text-start">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control", placeholder: "Enter your password" %>
    </div>

    <div class="mb-3 text-start">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirm your password" %>
    </div>

    <div class="">
        <%= form.submit "Create account", class: "btn btn-primary" %>
    </div>

    <% end %>
    </div>
</div>